run = "nix-shell -p python311Packages.python-dotenv python311Packages.python-telegram-bot python311Packages.openai --run 'python3 main.py'"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["python311Packages.openai", "python311Packages.python-dotenv", "python311Packages.python-telegram-bot"]

[deployment]
run = ["sh", "-c", "python3 main.py"]

[workflows]
runButton = "Запуск бота"

[[workflows.workflow]]
name = "Запуск бота"
author = 40307194
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
